/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.page__image {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.page__image-content {
  width: 100%;
}
.page__more-info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .page__image {
    text-align: center;
  }
}

.tasks {
  display: block;
  width: 500px;
  margin: 0 auto;
}
.tasks__header {
  margin-bottom: 20px;
}
.tasks__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
  display: block;
  margin: 10px 0px 20px;
}
.tasks__row {
  display: flex;
  justify-content: space-between;
  height: 21px;
}
.tasks__input {
  display: inline-block;
  flex-grow: 1;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
  background: rgb(255, 255, 255);
  border-radius: 6px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  color:#333333;
  padding: 0 10px;
  max-width: 440px;
}

.tasks__button {
  outline: none;
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  width: 60px;
}
.tasks__button:hover {
  color: #3a3a3a;
}
.tasks__button--delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.tasks__button--delete img:hover {
  transform: rotateZ(0);
}
.tasks__list {
  margin: 0;
  padding: 0;
}
.tasks__item {
  list-style: none;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks__item > * {
  vertical-align: middle;
}
.tasks__checkbox {
  margin: 0 10px;
}
.tasks__text {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 80%;
}
.tasks__input--edit {
  display: none;
}
.tasks__item--edit-mode .tasks__input {
  display: inline-block;
  font-family: Lato, sans-serif;
  font-size: 18px;
  color: #888;
  padding: 0 10px;
}
.tasks__item--edit-mode .tasks__text {
  display: none;
}
.tasks__heading {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.tasks__list--completed .tasks__text {
  text-decoration: line-through;
  color: #888;
}
